[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
jupyterlab = "*"
osmnx = "*"
contextily = "*"
folium = "*"
mapclassify = "*"
pysal = "*"
esda = "*"
rioxarray = "*"
rasterio = "*"
earthpy = "*"

[dev-packages]

[requires]
python_version = "3.12"
